@mixin container{
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 30px;
}

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin between{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}